.gallery {
  padding: 20px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
}

.gallery__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gallery__description {
  font-size: 18px;
  width: 75%;
  margin: 15px auto 20px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery__card {
  background-color: #ffffff;
  width: 100%;
  max-width: 282px;
  height: 361px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: top;
}

.gallery__legend {
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.gallery__legend-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.gallery__legend-item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.gallery__legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.gallery__tab {
  color: white;
  font-weight: bold;
  text-align: center;
}

.gallery__show-more {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff3b3f;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.gallery__show-more:hover {
  background-color: #c03a3e;
}

@media screen and (max-width: 353px) {
  .gallery__grid {
    margin: auto;
  }
  .gallery__card {
    max-width: 250px;
    margin: auto;
    margin-left: -10px;
  }
}
