.contact {
  display: flex;
  align-items: center;
  /* background-color: #f4f1ed; */
  padding: 20px;
  margin: auto;
  max-width: 80%;
}

.contact__img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.contact__details {
  flex: 1;
}

.contact__details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact__details-text {
  font-size: 18px;
}

.contact__button {
  width: 40px;
  height: 40px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ff3b3f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__button img {
  width: 60%;
}

.contact__button:hover {
  background-color: #c03a3e;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    text-align: center;
  }

  .contact__img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contact__details-title {
    font-size: 20px;
  }

  .contact__details-text {
    font-size: 16px;
  }

  .contact__button {
    width: 30px;
    height: 30px;
  }
}
