.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.about__img {
  width: 400px;
  margin-right: 20px;
  transform: rotate(-4deg);
}

.about__content {
  width: 100%;
  max-width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about__content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about__content-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.about__content-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff3b3f;
  color: #ffffff;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.about__content-button:hover {
  background-color: #c03a3e;
}

@media screen and (max-width: 720px) {
  .about__img {
    max-width: 300px;
  }

  .about__content {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .about__img {
    max-width: 250px;
  }
}

@media screen and (max-width: 353px) {
  .about {
    max-width: 300px;
    width: 85%;
  }
  .about__img {
    max-width: 200px;
    margin-right: 0;
  }

  .about__content {
    max-width: 100%;
  }
}
