.cats {
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  margin: auto;
}

.cats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
