.donate {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.donate__title {
  font-size: 24px;
  margin-bottom: 15px;
}

.donate__form-group {
  margin-bottom: 15px;
}

.donate__form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.donate__form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.donate__submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.donate__submit:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 500px) {
  .donate {
    width: 70%;
  }
}
