.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 70%;
  margin: 15px auto;
  padding: 20px;
  overflow: hidden;
}

.presentation__content {
  width: 60%;
}

.presentation__content-title {
  font-size: 32px;
  font-weight: bold;
}

.presentation__content-subtitle {
  font-size: 24px;
}

.presentation__content-text {
  font-size: 18px;
  margin-top: 10px;
}

.presentation__img {
  width: 40%;
  border-radius: 30% 70% 70% 30% / 39% 30% 70% 61%;
  animation: moveBorderRadius 4s linear infinite;
}

@keyframes moveBorderRadius {
  0% {
    border-radius: 30% 70% 70% 30% / 39% 30% 70% 61%;
  }
  50% {
    border-radius: 70% 30% 30% 70% / 30% 70% 70% 30%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 39% 30% 70% 61%;
  }
}

.presentation__content-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.presentation__content-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f4f1ed;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.presentation__content-button:hover {
  background-color: #e0dcd5;
  color: #ffffff;
}

/* Media query para pantallas de 720px */
@media screen and (max-width: 720px) {
  .presentation {
    flex-direction: column; /* Cambio a disposición de columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos en pantallas pequeñas */
    width: 90%; /* Ajuste del ancho para pantallas más pequeñas */
    padding: 10px; /* Ajuste del padding para pantallas más pequeñas */
  }

  .presentation__content {
    width: 100%; /* Cambio del ancho del contenido para ocupar todo el espacio disponible */
  }

  .presentation__img {
    width: 60%; /* Ajuste del ancho de la imagen para pantallas pequeñas */
    max-width: 400px; /* Establecer un ancho máximo para la imagen */
    margin-bottom: 20px; /* Espacio inferior para separar la imagen del contenido */
  }
}

/* Media query para pantallas de 480px */
@media screen and (max-width: 480px) {
  .presentation__img {
    max-width: 300px; /* Reducción del ancho máximo de la imagen para 480px */
    margin-top: 20px;
  }
}

/* Media query para pantallas de 320px */
@media screen and (max-width: 320px) {
  .presentation__img {
    max-width: 250px; /* Reducción adicional del ancho máximo de la imagen para 320px */
  }
}
