@import url('../../vendor/normalize.css');

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding: 28px 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .page {
    padding: 45px 20px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 28px 5px;
  }
}

img,
video {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
