.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Cambio a envolver elementos en pantallas pequeñas */
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.about__img {
  width: 400px;
  margin-right: 20px;
  transform: rotate(-4deg);
}

.about__content {
  width: 100%; /* Cambio del ancho para ocupar todo el espacio disponible */
  max-width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espacio superior para separar la imagen del contenido en pantallas pequeñas */
}

.about__content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about__content-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.about__content-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff3b3f; /* Color rojo */
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.about__content-button:hover {
  background-color: #c03a3e; /* Color más claro que #ff3b3f */
}

/* Media query para pantallas de 720px */
@media screen and (max-width: 720px) {
  .about__img {
    max-width: 300px;
  }

  .about__content {
    max-width: 80%;
  }
}

/* Media query para pantallas de 480px */
@media screen and (max-width: 480px) {
  .about__img {
    max-width: 250px;
  }
}

/* Media query para pantallas de 320px */
@media screen and (max-width: 353px) {
  .about {
    max-width: 300px;
    width: 85%;
  }
  .about__img {
    max-width: 200px; /* Reducción adicional del ancho máximo de la imagen para 320px */
    margin-right: 0; /* Eliminación del margen derecho en pantallas pequeñas */
  }

  .about__content {
    max-width: 100%; /* Cambio del ancho del contenido para ocupar todo el espacio disponible en pantallas pequeñas */
  }
}
